.hero {
  display: flex;

  justify-content: center;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  max-width: 1205px;
  text-align: center;

  font-family: var(--text-family);
  color: var(--text-color);
  font-weight: 700;
  font-size: 80px;
  line-height: 1;

  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}
